@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    width: 600px;
}

main {
    background-color: gray;
    margin: 20px;
    height: 94vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.games {
    list-style-type: none;
    padding: 30px 20px;
    justify-self: self-start;
}

li {
    padding: 8px;
    background-color: white;
    margin-top:10px;
    border-radius: 7px;
    cursor: pointer;
}

.imgs {
    justify-self: center;
}


.lista-sections {
    align-content: center;
}

section {
    display: none;
    background-color: red;
}

section.ativo {
    display: block;
}

dt {
    background-color: rgb(225, 202, 202);
    padding: 20px 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 0px 3px;
}

dt:hover {
    transform: translate(10px, 6px);
    box-shadow: none;
    
}

dt::after {
    content: '↴';
    margin-left: 15px;
    color: rgb(9, 42, 103);
}

dt.ativo::after {
    content: '⬏';
}

ul {
    list-style-type: none;
    display: none;
}

ul.ativo {
    display: block;
}